@import "tailwindcss";


body {
    user-select: none;
}

@keyframes modalOpen {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-modalOpen {
    animation: modalOpen 400ms cubic-bezier(0.4, 0, 0.2, 1) both;
}